# Ignore results from examples
*.png
*.inp
*.csv

# build artifacts
__pycache__
*.egg-info

# directories
venv/*
.venv/*
build/*
dist/
# output folders from examples and tests
/output_benchy_example/*
/tests/output/*


# coverage reports
.coverage
coverage.xml
